<h2>{{ isEditMode ? 'Upraviť publikáciu' : 'Vytvoriť publikáciu' }}</h2>
<div class="forms">
  <form [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
    <div class="form-group-1">
      <div class="authors-control">
        <p-button type="button" (click)="addAuthorId()">Pridať autora</p-button>
        <p-button
          *ngIf="authorIds.length > 1"
          type="button"
          (click)="removeAuthorId(authorIds.length - 1)">Odstrániť autora</p-button>
      </div>
      <div formArrayName="authorIds">
        <div
          class="authors"
          *ngFor="let authorCtrl of authorIds.controls; let i = index"
          [formGroupName]="i"
        >
          <p-floatlabel>
            <label>Meno autora</label>
            <input type="text" pInputText formControlName="firstName" />
          </p-floatlabel>
          <p-floatlabel>
            <label>Priezvisko autora</label>
            <input type="text" pInputText formControlName="lastName" />
          </p-floatlabel>
        </div>
      </div>

      <div class="info-row">
        <p-floatlabel>
          <label>Názov</label>
          <input type="text" pInputText formControlName="title" />
        </p-floatlabel>

        <p-floatlabel>
          <p-datepicker formControlName="publicationDate" dateFormat="dd.mm.yy" showIcon="true" iconDisplay="input" showOnFocus="true"></p-datepicker>
          <label>Dátum vydania</label>
        </p-floatlabel>
      </div>

      <div class="page-edition">
        <p-floatlabel>
          <label>ISBN/ISSN</label>
          <input type="text" pInputText formControlName="isbnIssn" />
        </p-floatlabel>
        <div *ngIf="publicationForm.get('isbnIssn')?.errors?.['invalidIsbnIssn']" style="color: red">
          Zadajte platný ISBN-10, ISBN-13 alebo ISSN formát.
        </div>

        <p-floatlabel>
          <label>Počet strán</label>
          <input type="number" pInputText formControlName="pageCount" />
        </p-floatlabel>

        <p-floatlabel>
          <label>Edícia</label>
          <input type="text" pInputText formControlName="edition" />
        </p-floatlabel>
      </div>
    </div>

    <div class="form-group-2">
      <p-floatlabel>
        <textarea formControlName="abstractText" pTextarea rows="12" cols="80" style="resize: none" class="h-full"></textarea>
        <label>Abstrakt</label>
      </p-floatlabel>

      <div class="select-row">
        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="publisher" formControlName="publisherId" optionLabel="label" placeholder="Vyber vydavateľa"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput('publisher')"></button>
          </p-floatlabel>
          <div *ngIf="showNewInput['publisher']">
            <input type="text" pInputText [formControl]="newControls['publisher']" placeholder="Nový vydavateľ" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity('publisher')"></button>
          </div>
        </div>

        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="category" formControlName="categoryId" optionLabel="label" placeholder="Vyber kategóriu"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput('category')" ></button>
          </p-floatlabel>
          <div *ngIf="showNewInput['category']">
            <input type="text" pInputText [formControl]="newControls['category']" placeholder="Nová kategória" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity('category')"></button>
          </div>
        </div>

        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="type" formControlName="typeId" optionLabel="label" placeholder="Vyber typ publikácie"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput('type')" ></button>
          </p-floatlabel>
          <div *ngIf="showNewInput['type']">
            <input type="text" pInputText [formControl]="newControls['type']" placeholder="Nový typ" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity('type')"></button>
          </div>
        </div>

        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="language" formControlName="languageId" optionLabel="label" placeholder="Vyber jazyk"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput('language')" ></button>
          </p-floatlabel>
          <div *ngIf="showNewInput['language']">
            <input type="text" pInputText [formControl]="newControls['language'].get('name')" placeholder="Názov jazyka" />
            <input type="text" pInputText [formControl]="newControls['language'].get('code')" placeholder="Kód jazyka (napr. 'sk')" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity('language')"></button>
          </div>
        </div>
      </div>

      <p-button type="submit" [disabled]="publicationForm.invalid">
        {{ isEditMode ? 'Upraviť' : 'Odoslať' }}
      </p-button>
    </div>

    <div *ngIf="successMessage" style="color: green">{{ successMessage }}</div>
    <div *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>
  </form>
</div>
