<div class="forms">
  <form [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
    <div class="form-group-1">
      <div class="authors-control">
        <p-button type="button" (click)="addAuthor()">Pridať autora</p-button>
        <p-button
          *ngIf="authorIds.length > 1"
          type="button"
          (click)="removeAuthor(authorIds.length - 1)">Odstrániť autora</p-button>
      </div>
      <div formArrayName="authorIds">
        <div
          class="authors"
          *ngFor="let authorCtrl of authorIds.controls; let i = index"
          [formGroupName]="i"
        >
          <p-floatlabel>
            <label>Meno autora</label>
            <input type="text" pInputText formControlName="firstName" />
          </p-floatlabel>
          <p-floatlabel>
            <label>Priezvisko autora</label>
            <input type="text" pInputText formControlName="lastName" />
          </p-floatlabel>
        </div>
      </div>

      <div class="info-row">
        <p-floatlabel>
          <label>Názov</label>
          <input type="text" pInputText formControlName="title" />
        </p-floatlabel>

        <p-floatlabel>
          <p-datepicker formControlName="publicationDate" dateFormat="dd.mm.yy" showIcon="true" iconDisplay="input" showOnFocus="true"></p-datepicker>
          <label>Dátum vydania</label>
        </p-floatlabel>
      </div>

      <div class="page-edition">
        <div class="isbn-group">
          <p-floatlabel>
            <label>ISBN/ISSN</label>
            <input
              type="text"
              pInputText
              formControlName="isbnIssn"
            />
          </p-floatlabel>
          <div
            *ngIf="publicationForm.get('isbnIssn')?.errors?.['invalidIsbnIssn']"
            class="isbn-error"
          >
            Zadajte ISBN alebo ISSN formát.
          </div>
        </div>

        <p-floatlabel>
          <label>Počet strán</label>
          <input type="number" pInputText formControlName="pageCount" />
        </p-floatlabel>

        <p-floatlabel>
          <label>Edícia</label>
          <input type="text" pInputText formControlName="edition" />
        </p-floatlabel>
      </div>
    </div>

    <div class="form-group-2">
      <p-floatlabel>
        <textarea formControlName="abstractText" pTextarea rows="12" cols="80" style="resize: none" class="h-full"></textarea>
        <label>Abstrakt</label>
      </p-floatlabel>

      <div class="select-row">
        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="publisher" formControlName="publisherId" optionLabel="name" placeholder="Vyber vydavateľa"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput(EntityType.Publisher)"></button>
          </p-floatlabel>
          <div *ngIf="showNewInput[EntityType.Publisher]">
            <input type="text" pInputText [formControl]="newControls[EntityType.Publisher]" placeholder="Nový vydavateľ" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity(EntityType.Publisher)"></button>
          </div>
        </div>

        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="category" formControlName="categoryId" optionLabel="name" placeholder="Vyber kategóriu"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput(EntityType.Category)" ></button>
          </p-floatlabel>
          <div *ngIf="showNewInput[EntityType.Category]">
            <input type="text" pInputText [formControl]="newControls[EntityType.Category]" placeholder="Nová kategória" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity(EntityType.Category)"></button>
          </div>
        </div>

        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="type" formControlName="typeId" optionLabel="name" placeholder="Vyber typ publikácie"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput(EntityType.Type)" ></button>
          </p-floatlabel>
          <div *ngIf="showNewInput[EntityType.Type]">
            <input type="text" pInputText [formControl]="newControls[EntityType.Type]" placeholder="Nový typ" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity(EntityType.Type)"></button>
          </div>
        </div>

        <div class="select-group">
          <p-floatlabel>
            <p-select [options]="language" formControlName="languageId" optionLabel="name" placeholder="Vyber jazyk"></p-select>
            <button pButton type="button" icon="pi pi-plus" (click)="toggleNewInput(EntityType.Language)" ></button>
          </p-floatlabel>
          <div *ngIf="showNewInput[EntityType.Language]">
            <input type="text" pInputText [formControl]="newControls[EntityType.Language]" placeholder="Názov jazyka" />
            <button pButton type="button" icon="pi pi-save" (click)="addNewEntity(EntityType.Language)"></button>
          </div>
        </div>
      </div>

      <p-button type="submit" [disabled]="publicationForm.invalid">
        {{ isEditMode ? 'Upraviť' : 'Odoslať' }}
      </p-button>
      <p-dialog 
        header="{{ dialogHeader }}" 
        [(visible)]="showResultDialog" 
        [modal]="true" 
        [closable]="false"
        [style]="{ width: '30vw' }"
      >
        <p>{{ dialogHeader }} úspešne.</p>

        <ng-template pTemplate="footer">
          <!-- Pri create móde ponúkneme "Pridať ďalšiu" aj "Domov" -->
          <button 
            *ngIf="!isEditDialog" 
            pButton 
            label="Pridať ďalšiu" 
            icon="pi pi-plus" 
            (click)="addAnother()"
            class="p-button-outlined"
          ></button>

          <!-- Vždy tlačidlo Domov -->
          <button 
            pButton 
            label="Domov" 
            icon="pi pi-home" 
            (click)="goHome()"
            class="p-button-outlined"
          ></button>
        </ng-template>
      </p-dialog>
      <p-dialog
        header="{{ errorDialogHeader }}"
        [(visible)]="showErrorDialog"
        [modal]="true"
        [closable]="false"
        [style]="{ width: '30vw' }"
      >
        <p>{{ errorDialogMessage }}</p>
        <ng-template pTemplate="footer">
          <button
            pButton
            label="OK"
            icon="pi pi-check"
            (click)="showErrorDialog = false"
            class="p-button-outlined"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
  </form>
</div>
